@using Microsoft.AspNetCore.Identity

@inject SignInManager<Oseba> SignInManager
@inject UserManager<Oseba> UserManager

@model Gorjanc.Models.Vrh

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Ime);
}
<div class="banner">
    <div class="name">
        <h1>@Html.DisplayFor(model => model.Ime)</h1>
    </div>
</div>

<div id="data">
    <div id="ivk">
        <table>
            <tr>
                <td><b>Ime</b></td>
                <td>@Html.DisplayFor(model => model.Ime)</td>
            </tr>
            <tr>
                <td><b>Višina</b></td>
                <td>@Html.DisplayFor(model => model.Visina)m</td>
            </tr>
            <tr>
                <td><b>Koordinate</b></td>
                <td>@Html.DisplayFor(model => model.KoordinateS)</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.DisplayFor(model => model.KoordinateD)</td>
            </tr>
        </table>
    </div>
    <div id="add">
        <form method="post" enctype="multipart/form-data" asp-controller="Vrhovi" asp-action="Obisk_add">
            <div class="form-group">
                <div>
                    <input name="oseba" type="hidden" value="@UserManager.GetUserId(User)" />
                    <input name="foreignKey" type="hidden" value="@Html.DisplayFor(model => model.VrhId)"/>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input class="btn btn-success" type="submit" value="Dodaj pod obiskane" />
                </div>
            </div>
        </form>
    </div> 
</div>

<div class="break"></div>

<div class="text-center">
    <div id="map"></div>
    <div id="vreme">
        <h2>Vremenska napoved</h2>
        <div class="break"></div>
    </div>

    <div id="test">
        <h2>Slike</h2>
        <div class="break"></div>
    </div>

    <script>
    function mapa() {
        var vrhovi = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
        var map = L.map('map').setView([vrhovi["KoordinateS"], vrhovi["KoordinateD"]], 17);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        L.marker([vrhovi["KoordinateS"], vrhovi["KoordinateD"]]).addTo(map);

        //vreme
        var key = '3a1e370b2ee30b01139e7bcf254d2de8';
        var lat = vrhovi["KoordinateS"];
        var lon = vrhovi["KoordinateD"];
        var vreme;
        $.getJSON("https://api.openweathermap.org/data/2.5/onecall?lat="+lat+"&lon="+lon+"&units=metric&exclude=minutely,hourly&appid="+key, function(result){
            for (x in result["daily"]) {
                var datum = new Date(result["daily"][x]["dt"]*1000);
                var dan = datum.getDay();
                switch(dan){
                    case 0: dan = "PON"; break;
                    case 1: dan = "TOR"; break;
                    case 2: dan = "SRE"; break;
                    case 3: dan = "ČET"; break;
                    case 4: dan = "PET"; break;
                    case 5: dan = "SOB"; break;
                    case 6: dan = "NED"; break;
                }
                $("#vreme").append("<div class='napoved-"+x+"'></div>")
                $(".napoved-"+x).append("<div class='dan'> <b>" + dan + "</b></div");
                $(".napoved-"+x).append("<div class='opis'><img src='http://openweathermap.org/img/wn/" + result["daily"][x]["weather"][0]["icon"] + "	&#64;2x.png'></div");
                $(".napoved-"+x).append("<div class='temperatura'>" + Math.round(result["daily"][x]["temp"]["day"] * 10) / 10 + "°C</div");
                $(".napoved-"+x).append("<div class='občutek'>" + Math.round(result["daily"][x]["feels_like"]["day"] * 10) / 10 + "°C</div");
                $(".napoved-"+x).append("<div class='veter'>" + Math.round(result["daily"][x]["wind_speed"] * 10) / 10 + " km/h</div");
            }
        });

        //slike
        $.getJSON("https://gorjanc-dev.azurewebsites.net/api/v1/slika", function(result){
            for (slika in result) {
                $("#test").append("<img class='image' src='/Images/" + result[slika]["ime"] + "'>");
            }
        });
    }
    </script>

    <div class="form">
        <form method="post" enctype="multipart/form-data" asp-controller="Vrhovi" asp-action="Slike">
            <div class="form-group">
                <div>
                    <h5>Naloži sliko</h5>
                    <input class="form-control" name="files" type="file" multiple="multiple" />
                    <input type="hidden" name="foreignKey" value="@Html.DisplayFor(model => model.VrhId)"/>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input class="btn btn-success" type="submit" value="Naloži" />
                </div>
            </div>
        </form>
    </div>
    
</div>
