@using Microsoft.AspNetCore.Identity

@inject SignInManager<Oseba> SignInManager
@inject UserManager<Oseba> UserManager

@model Gorjanc.Models.Vrh

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Ime);
}
<h1>@Html.DisplayFor(model => model.Ime)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dd class = "col-sm-3">
            <form method="post" enctype="multipart/form-data" asp-controller="Vrhovi" asp-action="Obisk_add">
            <div class="form-group">
                <div class="col-md-10">
                    <input name="oseba" type="hidden" value="@UserManager.GetUserId(User)" />
                    <input name="foreignKey" type="hidden" value="@Html.DisplayFor(model => model.VrhId)"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input class="btn btn-success" type="submit" value="Dodaj pod obiskane" />
                </div>
            </div>
        </form>
        </dd>
        <dt class = "col-sm-2">
            Višina
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visina)m
        </dd>
        <dt class = "col-sm-2">
            Koordinate
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KoordinateS)
        </dd>
        <dt class = "col-sm-2">

        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KoordinateD)
        </dd>
    </dl>
</div>

<div id="map"></div>
<div id="vreme">
    <div id="trenutno">
        <div class="temperatura"></div>
        <div class="veter"></div>
        <div class="opis"></div>
    </div>
</div>
<script>
function mapa() {
    var vrhovi = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
    var map = L.map('map').setView([vrhovi["KoordinateS"], vrhovi["KoordinateD"]], 17);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    L.marker([vrhovi["KoordinateS"], vrhovi["KoordinateD"]]).addTo(map);
    var gpx = "~/gpx/15.gpx";
    new L.GPX(gpx, {async: true}).on('loaded', function(e) {
        map.fitBounds(e.target.getBounds());
    }).addTo(map);

    //vreme
    var key = '3a1e370b2ee30b01139e7bcf254d2de8';
    var lat = vrhovi["KoordinateS"];
    var lon = vrhovi["KoordinateD"];
    var vreme;
    $.getJSON("https://api.openweathermap.org/data/2.5/onecall?lat="+lat+"&lon="+lon+"&units=metric&exclude=minutely,hourly&appid="+key, function(result){
        for (x in result["daily"]) {
            var datum = new Date(result["daily"][x]["dt"]*1000);
            var dan = datum.getDay();
            switch(dan){
                case 0: dan = "PON"; break;
                case 1: dan = "TOR"; break;
                case 2: dan = "SRE"; break;
                case 3: dan = "ČET"; break;
                case 4: dan = "PET"; break;
                case 5: dan = "SOB"; break;
                case 6: dan = "NED"; break;
            }
            $("#vreme").append("<div class='napoved-"+x+"'></div>")
            $(".napoved-"+x).append("<div class='dan'>" + dan + "</div");
            $(".napoved-"+x).append("<div class='opis'><img src='http://openweathermap.org/img/wn/" + result["daily"][x]["weather"][0]["icon"] + "	&#64;2x.png'></div");
            $(".napoved-"+x).append("<div class='temperatura'>" + result["daily"][x]["temp"]["day"] + "°C</div");
            $(".napoved-"+x).append("<div class='občutek'>" + result["daily"][x]["feels_like"]["day"] + "°C</div");
            $(".napoved-"+x).append("<div class='veter'>" + result["daily"][x]["wind_speed"] + "km/h</div");
        }
    });
}
</script>
<div class="row">
    <div class="col-md-5">
        <form method="post" enctype="multipart/form-data" asp-controller="Vrhovi" asp-action="Slike">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Naloži sliko</p>
                    <input class="form-control" name="files" type="file" multiple="multiple" />
                    <input type="hidden" name="foreignKey" value="@Html.DisplayFor(model => model.VrhId)"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input class="btn btn-success" type="submit" value="Upload" />
                </div>
            </div>
        </form>
    </div>
</div>
<img src="~/Images/kristjan_desno.png">